<div class="container">

  <div class="container-register">
    <div class="img-container">
      <img ngSrc="../../../../assets/register/background-register.png" style="opacity: .3; border-top-left-radius: 1em; border-bottom-left-radius: 1em;" width="1150" height="650">
    </div>

    <form class="form-register">
      <h2>Coleta de Dados...</h2>
      <cog-6-tooth-outline-icon></cog-6-tooth-outline-icon>
    </form>
  </div>

</div>
<img ngSrc="../../../../assets/register/background.png" fill style="z-index: -10;">
<div class="background"></div>
