<div class="container">

  <div class="container-register">
    <div class="img-container">
      <img ngSrc="../../../../assets/register/background-register.png" style="opacity: .3; border-top-left-radius: 1em; border-bottom-left-radius: 1em;" width="1150" height="650">
    </div>

    <form class="form-register">
      <div class="container-data-collect">
        <h2>Coleta de Dados</h2>
        <cog-6-tooth-outline-icon class="icon-setting"></cog-6-tooth-outline-icon>
        <div class="border-register"></div>

        <div class="area-form">
          <input type="text" placeholder="Nome">
          <input type="login" placeholder="Login">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Senha">
          <input type="password" placeholder="Repetir senha">

          <div class="area-button">
            <button routerLink="/">Voltar</button>
            <button>Coletar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<img ngSrc="../../../../assets/register/background.png" fill style="z-index: -10;">
<div class="background"></div>
