.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#919090, #2c2c2c);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.container-register {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-register {
  width: 20%;
  background-color: rgb(196, 195, 195);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
