.background {
  background-color: rgb(95, 95, 95);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#919090, #2c2c2c);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.container-register {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.form-register {
  display: flex;
  justify-content: center;
  width: 20%;
  height: auto;
  background-image: linear-gradient(#d6d6d6, #f8f8f8);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.container-data-collect {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.form-register h2 {
  font-size: 27px;
  color: #2c2c2c;
}

.border-register {
  width: 85%;
  margin-top: 15px;
  border: 2px dashed black;
}

.icon-setting {
  margin-top: 10px;
}

.area-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  width: 100%;
}

.area-form input {
  margin-bottom: 2.4em;
  padding: 10px;
  width:80%;
  border: 2px dashed rgb(99, 98, 98);
  background-color: #a5a5a5;
  height: 35px;
  border-radius: 1.5em;
  outline: none;
}

.area-form input::placeholder {
  color: rgb(44, 44, 44);
}

.container-data-collect input:first-child {
  margin-top: 2em;
}

.area-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.area-button button:first-child {
  margin-right: 4em;
  border: none;
  color: white;
  padding: 10px;
  width: 25%;
  border-radius: 1em;
  cursor: pointer;
  font-size: 15px;
  background-color: rgb(83, 83, 83);
}

.area-button button:last-child {
  margin-left: 4em;
  border: none;
  color: white;
  padding: 10px;
  width: 29%;
  border-radius: 1em;
  font-weight: 700;
  letter-spacing: .2em;
  cursor: pointer;
  font-size: 15px;
  background-color: rgb(247, 72, 72);
}
