<app-menubar class="menu"></app-menubar>
<main>

  <div class="container-form-login">

    <h1>Enter Pirate!</h1>
    <div class="border-login"></div>

    <form class="form-login" action="">
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">

      <div class="container-button">
        <button>Entrar</button>
      </div>

    </form>
  </div>

  <div class="container-form-register">
    <form class="form-register" action="">
        <p></p>
    </form>
  </div>

</main>

<img class="image-background" ngSrc="../../../../assets/login/background.png" priority fill>
<div class="background"></div>
