<app-menubar class="menu"></app-menubar>
<main>

  <div class="container-form-login">

    <h1>Entre, Pirata!</h1>
    <div class="border-login"></div>

    <form class="form-login" action="">
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Senha">

      <div class="container-button">
        <button>Entrar</button>
      </div>

    </form>
  </div>

  <div class="container-register">
    <div class="content-register">
      <h1>Se torne um Pirata!</h1>
      <div class="container-button-register">
        <button routerLink="/register">Cadastre-se</button>
      </div>
    </div>
  </div>

</main>

<img class="image-background" ngSrc="../../../../assets/login/background.png" priority fill>
<div class="background"></div>
